.dashboard {
  display: flex;
  gap: 20px;
  
}

.dashboard-content {
  background: #fff;
  flex: 1;
  border-radius: 20px;
  display: flex;
  gap: 0rem;
  justify-content: space-between;
  overflow-x: scroll;
}