  .containerr {
    background-color: #dde6ed;
    border-radius: 10px;
    height: 650px;
    position: relative;
    width: 460px;
    margin-left: 30px;
    margin-top: 30px;
    border: .1px solid black;
  }
  .containerr table {
    margin-left: auto;
    margin-right: auto;
  }

  .itm-cont {
    margin-left: auto;
    margin-right: auto;
  }

  .cal {
    text-align: center;
  }
  
  .containerr .div-wrapper {
    background-color: #4671e8;
    border-radius: 6px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
    height: 50px;
    left: 19px;
    position: absolute;
    top: 678px;
    width: 348px;
  }

  .containerr h2 {
    text-align: center;
    margin: 15px;
  }

  .cal-change {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* .containerr .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 133px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
  } */
  
  .containerr .div {
    color: #171a1f;
    font-family: "Epilogue-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 19px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 21px;
    white-space: nowrap;
  }

  .containerr .text-wrapper-1 {
    color: #323842;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 530px;
    margin-left: 40px;
    white-space: nowrap;
  }

  .containerr .text-wrapper-4 {
    color: #323842;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 570px;
    margin-left: 40px;
    white-space: nowrap;
  }
  
  .containerr .text-wrapper-2 {
    color: #323842;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 550px;
    margin-left: 40px;
    white-space: nowrap;
  }

  
  .containerr .text-wrapper-3 {
    color: #171a1f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 305px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 550px;
    white-space: nowrap;
  }
  
  .containerr .divider {
    height: 1px;
    left: 19px;
    object-fit: cover;
    position: absolute;
    top: 590px;
    width: 338px;
  }

  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
  }

  .del {
    margin-left: 20px;
  }

 /* styles/profile.css */

.profile-table {
  width: 100%;
  border-collapse: separate; /* Use separate border-collapse */
  border-spacing: 0 10px; /* Add vertical spacing between rows */
  text-align: right;
}

.profile-table th,
.profile-table td {
  border: 1px solid #dddddd;
  padding: 18px;
  text-align: right;
}

.tname { 
  padding: 10px;
}

.cal-btn {
    font-size: 18px;
    font-weight: 700;
    left: 115px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 600px;
    white-space: nowrap;
    padding: 5px 70px;
    background-color: green;
    border-radius: 20px;
    border-style: none;
 
}
