
.menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 95vh;
    background: #b8bec6;
    border-radius: 20px;
    width: 230px;
    border: 0.1px solid rgb(114, 114, 114);
}

.logo {
    text-align: center;
    padding: 20px;
    top: 0;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: orange;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}


.menu-list .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #27374d;;
}

.menu-list .item:hover,
.active{
    background: #27374d;
    color: #dde6ed !important;
}

.active {
    background: #27374d;
}
