.btext {
    text-align: center;
    font-size: 35px;
}

.itm-conte {
 align-items: center;
 margin-left: auto;
margin-right: auto;
}

.itm-conte h2 {
    margin-bottom: 50px;
    margin-top: 30px;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 420px;
    height: 40px;
    border-radius: 10px;
    border: .1px solid black;
}

.btn {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border: .1px solid black;
    margin-left: 150px;
    margin-top: 20px;
}

.form-back {
    background-color: beige;
    padding: 30px;
    border-radius: 20px;
} 